// <uniquifier>: Use a unique and descriptive class name

.honk-<uniquifier> {
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 15,
    "SHLN" 50;
}

header {
    font-family: "Honk";
    background-color: #000000;
    font-size: 350%;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

* {
    background-color: #000000;
}